<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>traductor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Ingrese un número (1-1000)</ion-label>
    <ion-input type="number" [(ngModel)]="numero"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="convertir()">Convertir</ion-button>

  <ion-card *ngIf="resultado">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ resultado }}</ion-card-content>
  </ion-card>
</ion-content>

